body{
    padding-top: 90px;
    line-height: normal;
}

.pyg_header{
    .search_header{
        width: 100%;
        height: 45px;
        padding: 5px 0 5px 5px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: yellowgreen;
    }
}

.pyg_bar{
    display: flex;
    width: 100%;
    position: fixed;
    top: 45px;
    left: 0;
    font-size: 20px;
    text-align: center;
    background-color: #f7f7f7;
    a{
        flex: 1;
        padding: 10px;
        color: #007aff;
    }
}

.pyg_view{
    position: relative;
    overflow: hidden;
    .goods_info{
       
        li{
            margin: 5px;
            background-color: #fff;
            a{
                display: flex;
               .item_left{
                   flex: 2;
                   img{
                        width: 60%;
                        margin: 0 auto;
                   }
               }
               .item_right{
                   flex: 3;
                   //父元素也要设置文本溢出隐藏，不然下面的文本超出内容宽度后会发生挤压
                   overflow: hidden;
                   .goods_name{
                       line-height: 0.4rem;
                       font-size: 0.16rem;
                       color: #333;
                       //文本溢出隐藏
                       overflow: hidden;
                       //设置不换行后，flex布局下 当内容宽度超出父元素后，会发生挤压
                       white-space: nowrap;
                       //超出文本的内容，用省略号代替
                       text-overflow: ellipsis;
                   }
                   .goods_price{
                       font-size: 0.14rem;
                       color: red;
                       padding-top: 0.2rem;
                   }
               }
            }
        }
    }
}